@model Canducci.Pagination.Paginated<People>
@{
    ViewData["Title"] = "Materialize";
    Layout = "~/Views/Shared/_LayoutMaterialize.cshtml";
}

<h2>Materialize</h2>
@foreach (var item in Model)
{
    <div>@item.Id - @item.Name</div>
}
<div>
    @Html.Pagination(Model, page => Url.Action("Materialize", new { page = page }), PaginatedStyle.NumbersWithFirstPreviousNextLast, new PaginatedOptions { NextLabel = "Próximo", PreviousLabel = "Anterior", FirstLabel = "Primeiro", LastLabel = "Último", CssClassLi= "waves-effect", CssClassAnchor ="" })
</div>
<div>
    <pagination pagination-asp-action="Materialize"
                pagination-asp-controller="Home"
                pagination-style="NumbersWithFirstPreviousNextLast"
                pagination-css-class-li-active="active"
                pagination-css-class-ul="pagination"
                pagination-paginated="Model"
                pagination-label-next="Próximo"
                pagination-label-previous="Anterior"
                pagination-label-first="Primeiro"
                pagination-label-last="Último"
                pagination-css-class-anchor=""
                pagination-css-class-li="waves-effect"
                pagination-css-class-li-disabled="disabled">
    </pagination>
</div>
