@model Canducci.Pagination.Paginated<People>
@{
    ViewData["Title"] = "Materialize";
    Layout = "~/Views/Shared/_LayoutMaterialize.cshtml";
}

<h2>Materialize</h2>
@foreach (var item in Model)
{
    <div>@item.Id - @item.Name</div>
}
<div>
    @Html.Pagination(Model, page => Url.Action("Materialize", new { page = page }), PaginatedStyle.NumbersWithFirstPreviousNextLast, new PaginatedOptions { CssClassLi= "waves-effect", CssClassAnchor ="" })
</div>
<div>
    <pagination pagination-asp-action="Materialize"
                pagination-asp-controller="Home"                
                pagination-css-class-li-active="active"
                pagination-css-class-ul="pagination"
                pagination-paginated="Model"                
                pagination-css-class-li="waves-effect"
                pagination-css-class-li-disabled="disabled">
    </pagination>
</div>
